@page
@model MyReservationsModel
@{
    ViewData["Title"] = "My Reservations";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Reservations.Any())
{
    //<ul>
    @foreach (var reservation in Model.Reservations)
    {
        //<li>@reservation.Date @reservation.Time</li>
        <p>@reservation.Date @reservation.Time</p>
    }
    //</ul>
}
else
{
    <p>No reservations found.</p>
}
